*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.wrapper {
  padding: 10px;
  text-align: center;
}

a {
  color: #00b7ff;
}

nav {
  display: flex;
  align-items: center;
  background-color: hsl(39, 100%, 20%);

  padding: 10px;
}

nav a {
  color: white;
  text-decoration: none;
}
nav a:hover {
  text-decoration: underline;
}

nav img {
  height: 40px;
}

nav ul {
  justify-content: center;
  flex: 1;
  display: flex;
  gap: 50px;
  list-style-type: none;
  font-size: 20px;
}

nav .active a {
  color: rgb(11, 225, 11);
  font-weight: bold;
}

form {
  max-width: 1200px;
  margin: 0 auto;
}

.inline {
  width: auto;
  margin: 0 auto;
}
