table {
  border-collapse: collapse;
  border: 2px solid hsl(0, 0%, 68%);
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
}

td,
th {
  border: 1px solid hsl(0, 0%, 65%);
  padding: 10px 20px;
}

caption {
  padding: 10px;
  font-size: 2rem;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

th,
td {
  text-align: center;
}

tr > td:last-of-type,
tr > th:last-of-type {
  text-align: end;
}
@media (max-width: 990px) {
  tr > th:last-of-type {
    text-align: start;
    padding: 5px;
  }
}

tr > th:first-of-type {
  text-align: start;
}

th {
  font-weight: 500;
}

thead th {
  font-weight: 700;
}
